<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232785717837-1fsapmhgab6pem01e2e4fp18p0n3el5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232785717837-1fsapmhgab6pem01e2e4fp18p0n3el5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDPdsxNov6DVvJjLvj4EzFPTWgmeXEjiLE</string>
	<key>GCM_SENDER_ID</key>
	<string>232785717837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationaep</string>
	<key>PROJECT_ID</key>
	<string>notificationaep</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationaep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232785717837:ios:ff69447bf33390f3e00a04</string>
</dict>
</plist>